<div class="bottom-panel">
  <div id="label_total_vyatta_hosts" class="global-summary-blue-item">Vyatta hosts total: </div><div id="display_total_vyatta_hosts" class="global-summary-blue-item"></div>
  <div class="global-summary-spacer">&nbsp;</div>
  <div id="label_enabled_vyatta_hosts" class="global-summary-blue-item">Vyatta hosts enabled: </div><div id="display_enabled_vyatta_hosts" class="global-summary-blue-item"></div>
  <div class="global-summary-spacer">&nbsp;</div>
  <div id="label_unreachable_vyatta_hosts" class="global-summary-blue-item">Vyatta hosts unreachable: </div><div id="display_unreachable_vyatta_hosts" class="global-summary-blue-item"></div>
</div>