<div class="bottom-panel">
	<div class="global-summary-blue-item">Vyatta hosts total: </div><div id="display_total_vyatta_hosts" class="global-summary-blue-item"></div>
	<div class="global-summary-spacer">&nbsp;</div>
	<div class="global-summary-green-item">Vyatta hosts enabled: </div><div id="display_enabled_vyatta_hosts" class="global-summary-green-item"></div>
	<div class="global-summary-spacer">&nbsp;</div>
	<div class="global-summary-red-item">Vyatta hosts unreachable: </div><div id="display_unreachable_vyatta_hosts" class="global-summary-red-item"></div>
</div>